<script>
  $.notify("<%= notice %>", "success");
</script>  

<div class="container-fluid">
  <h1>PROJETOS</h1>
  <br/>
  <div class="row" style="background-color: #f0f0f0; border-top-left-radius: 10px; border-top-right-radius: 10px;">
    <div class="col-sm-5" style="background-color:lavender;"><b>Projeto</b></div>
    <div class="col-sm-5" style="background-color:lavenderblush;"><b>Gerente</b></div>
    <div class="col-sm-2" style="background-color:lavender;"><b>Ações</b></div>            
  </div>    
  <% @projects.each do |project| %>    
    <div class="row">
      <div class="col-sm-5" style="background-color:lavender;"><%= project.name %></div>
      <div class="col-sm-5" style="background-color:lavenderblush;"><%= project.manager.name %></div>
      <div class="col-sm-2" style="background-color:lavender;"><%= link_to("Visualizar", project, class: "class='btn btn-primary btn-sm'") %>
                                                               <%= link_to("Editar", edit_project_path(project), class: "class='btn btn-warning btn-sm'") %>
                                                               <%= link_to("Deletar", project, method: :delete, class: "class='btn btn-danger btn-sm'", data: { confirm: "Confirma a exclusão?" }) %></div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Project', new_project_path %>
