<script>
  $.notify("<%= notice %>", "success");
</script>   

<% contRow = 0 %>
<div class="row">
  <% @projects.each do |project| %>    

    <% if contRow % 4 == 0 %>    
      </div> <!-- div class="row" -->      
      <div class="row">
    <% end %>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-fw fa-comments"></i>
              </div>
              <div class="mr-5"><b><%= project.name %><br/><%= project.manager.name %></b></div>
            </div>
            <div class="card-footer text-white clearfix small z-1" >
              <span class="float-left">              
                <%= link_to(project, class: "btn btn-success btn-lg", method: :get) do %>
                  <i class='fa fa-list'></i>
                <% end %>
                <%= link_to(edit_project_path(project), class: "btn btn-warning btn-lg", :method => :get) do %>
                  <i class='fa fa-check'></i>
                <% end %> 
                <%= link_to(project, method: :delete, class: "btn btn-danger btn-lg", data: { confirm: "Confirma a exclusão?"}) do %>
                  <i class='fa fa-times'></i>
                <% end %>
              </span>              
            </div>
          </div>
        </div>
    <% contRow = contRow + 1 %>

  <% end %>
</div>   <!-- div class="row"  -->

</div>

<br>

<%= link_to 'New Project', new_project_path %>
