<% 
  project = @project 
  histories = project.histories
  history = histories.new
%> 

<div class="row">
  <div class="col-xl-3 col-sm-6 mb-3">
    <span class="float-left"> 
        <a href="#" class="btn btn-success btn-sm" data-toggle="modal" data-target="#History_new"><i class='fa fa-plus'></i></a> 
    </span>
  </div>
</div>

<% content_for :head do %>  
  <%= javascript_pack_tag 'history' %>  
<% end %>

<div id="formCards" >
  <!-- Cards -->
  <%= content_tag :div, id: 'histories-form', data: { histories: histories.to_json(except: [:created_at, :updated_at]) } do %>  
    
  <% end %>

  <!-- modal history -->
  <%= content_tag :div, id: 'history-form', data: { history: histories.new.to_json(except: [:created_at, :updated_at]) } do %>     
    <div class="modal fade" id="History_new" tabindex="-1" role="dialog" aria-labelledby="Adicionar História" aria-hidden="true">
      <div class="modal-dialog" role="document">      
          <div class="modal-content">
            
              <div class="modal-header">
                <h5 class="modal-title" id="historyTitle">Adicionar História</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close" @click="clearModel($event)">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
                    
              <div class="modal-body">
                <div class="form-group">
                
                  <label for="name" class="cols-sm-2 control-label">História</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>            
                      <input type="text" class="form-control" type="text" v-model="history.name"/>
                    </div>
                  </div>

                  <label for="name" class="cols-sm-2 control-label">Requisitante</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>            
                      <select v-model="history.requester_id" class="form-control">
                        <option></option>
                        <%= options_from_collection_for_select(@person_options_for_select, :id, :name,  history.requester_id) %>
                      </select>
                    </div>
                  </div>

                  <label for="name" class="cols-sm-2 control-label">Proprietário</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>            
                      <select v-model="history.owner_id" class="form-control">
                        <option></option>
                        <%= options_from_collection_for_select(@person_options_for_select, :id, :name,  history.owner_id) %>
                      </select>
                    </div>
                  </div>

                  <label for="name" class="cols-sm-2 control-label">Descrição</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="far fa-comment" aria-hidden="true"></i></span>            
                      <input type="text" class="form-control" type="text" v-model="history.description"/>
                    </div>
                  </div> 
                  
                  <label for="name" class="cols-sm-2 control-label">Status</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="far fa-comment" aria-hidden="true"></i></span>            
                        <% 
                          status = ["Pending", "Started" , "Delivered","Accepted"]
                        %>
                        <select v-model="history.status" class="form-control">
                        <option></option>
                        <%= options_from_collection_for_select(status, 'to_s', 'to_s',  history.status) %>
                      </select>
                    </div>
                  </div>

                  <label for="name" class="cols-sm-2 control-label">Prazo</label>                        
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>                                           
                      <v-datepicker mode='single' popover-visibility="focus" v-model="history.deadline">                 
                      </v-datepicker>      
                    </div>
                  </div>            

                  <label for="name" class="cols-sm-2 control-label">Início</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>                                           
                      <v-datepicker mode='single' popover-visibility="focus" v-model="history.started_at">                 
                      </v-datepicker>     
                    </div>
                  </div>  

                  <label for="name" class="cols-sm-2 control-label">Término</label>
                  <div class="cols-sm-10">
                    <div class="input-group">                
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>                                           
                      <v-datepicker mode='single' popover-visibility="focus" v-model="history.finished_at">                 
                      </v-datepicker>                                               
                    </div>
                  </div>  

                  <label for="name" class="cols-sm-2 control-label">Pontos</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="far fa-comment" aria-hidden="true"></i></span>            
                      <input type="text" class="form-control" type="text" v-model="history.points"/>
                    </div>
                  </div> 

                  <div class=modal-footer">
                    <button @click="saveHistory($event)" class="btn btn-success btn-sm btn-block">Salvar</button>
                    <button class="btn btn-danger btn-sm btn-block" @click="clearModel($event)" onclick="javascript:$('#History_new').modal('hide');">Cancelar</button>      
                  </div>
                </div>
              </div>    
          </div>
        
      </div>
    </div>
  <% end %>
</div>  <!--div formCards --> 

<% content_for :footer do %>
  <%= javascript_pack_tag 'cards' %>  
  <script>
    $(".modal").on('hidden.bs.modal', function (e) {           
      $(".modal-body input").val('');                
      $(".modal-body select").prop('selectedIndex',0);      
    });
  </script>
<% end %>



