<!DOCTYPE html>
<html>
  <head>
    <title>TrelloESL</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <% if content_for? :head %>
      <%= yield :head %>
    <% end %>    

  </head>

  <body>
    <div class="container">
      <div class="row main">

        <div class="main-login main-center">
          <%= yield %>      
        </div>
        
      </div>
    </div>
  </body>
</html>
